
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.colorsContent {
  display: block;
  background-color: #fefefe;
  margin: 10px 0;
  width: 134px;
  height: 134px;
  border-radius: 15px;
  border: 1px solid greenyellow;
}

.selectColor {
  float: left;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  border: 1px solid greenyellow;
  margin: 15px;
  transition: 1s;
}

.selectColor:hover {
  box-shadow: 3px 3px 3px #888888;
  border: 1px solid darkorange;
}

.load {
  overflow: hidden;
}